/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_26_11_2025_13_22_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_26_11_2025_13_22_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_26_11_2025_13_22__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
